html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-family: lato, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align:center;
}
#navBar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1%;
    border-bottom: 3px solid #e9e6e6;
    
}
.fullScreenLinks{
    display: block;
}
#links{
    padding-left: 2%;
    width:100%;
    display: none;
    background-color:#e9e6e6; 
    text-align: left;
    font-family: lato, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
}
#links a{
    padding-top: 1%;
    padding-bottom: 1%;
}
#links a:link, #links a:visited{
    color: black;
    text-decoration: none;
}
#navBar a.icon{
    display: none;
    position: relative;
    right: 0;
    top: 0;
}
#navBar a:link, #navBar a:visited{
    width:fit-content;
    color:black;
    text-decoration: none;
}
#navBar a:hover{
    color:black;
    text-decoration: none;
}
#navBar a{
    font-size: 150%;
    overflow-wrap:break-word;
    width: 6%;
    text-align: center;
    flex-basis: auto;
    margin-top: 1%;
    padding-right:0.5%;
    padding-left:0.5%;
}

@media screen and (max-width: 600px){

    .fullScreenLinks{
        display:none;
    }
    #navBar a.icon{
        display: block;
        padding-left: 5%;
        padding-right: 5%;
    }
}

